<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<section class="blog-details-section">
    <article class="blog-post">
        <div class="blog-header">
            <div class="blog-breadcrumb">
                <a href="{{ url_for('home') }}">Home</a>
                <i class="fas fa-chevron-right"></i>
                <a href="{{ url_for('blogs') }}">{{ post.category }}</a>
            </div>
            <div class="blog-category">{{ post.category }}</div>
            <h1 class="blog-title">{{ post.title }}</h1>
            <div class="blog-meta">
                <div class="author-info">
                    <div class="author-details">
                        <span class="author-name">{{ post.author }}</span>
                        <span class="post-date">{{ post.created_at }}</span>
                    </div>
                </div>
                <div class="blog-tags">
                    {% for tag in post.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="blog-featured-image">
            {% if post.featured_image %}
            <img src="{{ url_for('static', filename=post.featured_image) }}" alt="{{ post.title }}">
            {% endif %}
        </div>

        <div class="blog-content">
            {{ post.content|safe }}
        </div>

        <div class="share-section">
            <div class="share-text">Share this article:</div>
            <div class="share-buttons">
                <a href="#" class="share-button"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="share-button"><i class="fab fa-twitter"></i></a>
                <a href="#" class="share-button"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="share-button"><i class="fas fa-link"></i></a>
            </div>
        </div>
    </article>
</section>
{% endblock %}
